<div>
  <div [ngSwitch]="checkArrayLength()">
    <div *ngSwitchCase="true">
      <div *ngFor="let course of courses">
        <p>{{ course }}</p>
      </div>
    </div>
    <div *ngSwitchCase="false">
      <p>No Courses Exists</p>
    </div>
  </div>
  <form>
    <div class="form-group input-group-sm">
      <label for="text">Task</label>
      <input
        class="form-control"
        type="text"
        name="text"
        id="text"
        placeholder="Add a Task"
        [(ngModel)]="text"
        required
        minlength="3"
      />
    </div>
    <div *ngIf="errorMsg.length > 1">
      <p>{{ errorMsg }}</p>
    </div>
    <button type="submit" (click)="addCourse()">Submit</button>
  </form>
</div>
